<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <style th:replace="~{blocks/texteditor-style :: texteditor-style}"></style>
</head>
<body>

<header th:insert="~{blocks/header :: header}"></header>

<form align="center" action="/edit/about" sec:authorize="hasRole('ADMIN')">
    <button type="submit" class="btn btn-dark"><b>Редактировать страницу</b></button>
</form>

<div style="margin: 40px 100px" th:utext="${content}"></div>

<script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>

<div th:insert="~{blocks/footer :: footer}"></div>

</body>
</html>